<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 side">
      <%= render "users/sidebar", user: @user %>
    </div>
    <div class="col-8">
      <% @follower_user.each do |user| %>
        <%= render 'follow_list', user: user %>
        <hr>
      <% end %>
    </div>
  </div>
</div>

