<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.hidden_field :email, value: "test@example.com" %>
    <%= f.hidden_field :password, value: "testpass" %>
  </div>
  <div class="action">
    <%= f.submit "かんたんログイン", class:"btn btn-light", style:"width: 40%;min-width: 150px;" %>
  </div>
<% end %>

