<div class="container">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-8 text-center">
      <%= image_tag @instructor.profile_image.to_s, size: "200x200", class:"profile-image"  %>
      <p>ユーザー名:<%= @instructor.name %></p>
    </div>
  </div>
</div>
