<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'users/sidebar' %>
    </div>
    <div class="col-8 text-center">
      <%= image_tag @instructor.profile_image.to_s, size: "200x200" %>
      <p>ユーザー名:<%= @instructor.name %></p>
      <p>自己紹介</p>
      <%= @instructor.description %>
    </div>
    </div>
  </div>
</div>
