/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "home";
@import "users";
@import "songs";

// 共通レイアウト
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
body{
    background: #161616;
}
.background-image{
  background-image: image-url('home.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  margin: 0;
  padding: 0;
}
input{
  color: #000000;
}
textarea{
  color: #000000;
}
.profile-image{
  border-radius: 50%;
}

// 検索バー
.search-bar{
  height: 50px;
  width: 600px;
}
.search_form{
  width: 75%;
  margin: 0 auto;
}
.search-btn{
  height: 35px;
  width: 35px;
  padding: 0;
  vertical-align: top;
  background: dimgray;
}

// 登録・ログインボタン
.user-btn{
  position:relative;
  top: 40%;
  left: 20%;
    & > .btn{
      display: block;
      margin-top: 20px;
      max-width: 250px;
      text-align: center;
      border: 2px solid #ffffff;
      font-size: 16px;
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 4px;
      transition: .4s;
    }
    & > .btn:hover{
      background-color: #D89040;
      color: #FFF;
    }
}
// マイページ(サイドバー)
a:hover{
  text-decoration: none;
}
.list-gruop{
  border: 1px solid #242424;
  height: 100%;
}
.list-group-item{
  background: #161616;
    &:hover{
      background: dimgray;
    }
}

// フォーム関連
.form-control{
  width: 400px;
  margin: 0 auto;
}
.form{
  height: 200px !important;
}
.form-btn{
  background: dimgray;
    & > p{
      line-height: 40px;
      margin: 0;
    }
}
#file_upload{
  display:none
}

.thumbnail{
   width:100%;
   height:150px;
}

