/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "home";
@import "users";
@import "songs";
@import "practices";
@import "instructors";

// 共通レイアウト
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
body{
    background: #161616;
}
.background-image{
  background-image: image-url('home.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55%;
}
.container{
  margin: 0;
  padding: 0;
}
input{
  color: #000000;
}
textarea{
  color: #000000;
}
ul{
  list-style: none;
}
hr{
  border-top: 1px solid #252525;
}
a{
  color: #ffffff;
    &:hover{
      color: #fafafafa;
      cursor: pointer;
    }
}
.devise-link a{
  text-decoration: underline;
  color: #007bff;
    &:hover{
      text-decoration: underline;
    }
}
header{
  padding: 20px;
}
.over-string{
  text-overflow: ellipsis;
  overflow: hidden;
}
.error-message-box{
  background: #FFBEDA;
  border: 2px solid red;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.error-message{
  color: red !important;
}
.notice {
  background-color: green;
  color: white;
  text-align: center;
}
// プロフィール画像
.profile-image{
  border-radius: 50%;
  width: 200px;
}
.header-profile{
  border-radius: 50%;
  width: 30px;
}
.user-profile{
  border-radius: 50%;
  width: 80px;
}
.post-profile{
  border-radius: 50%;
  width: 35px;
}
.top-profile-image{
  border-radius: 50%;
  width: 100px;
}

// 検索バー
.search{
  margin-bottom: 30px;
}
.search-bar{
  height: 50px;
  width: 600px;
}
.search_form{
  width: 75%;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}
.search-btn{
  height: 35px;
  width: 35px;
  padding: 0;
  vertical-align: top;
  background: dimgray;
}

// 登録・ログインボタン
.user-btn{
  text-align: center;
  margin-top: 100px;
    & > .btn{
      margin-top: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      border: 2px solid #ffffff;
      background: rgba(50, 50, 50, 0.6);
      font-size: 16px;
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 4px;
      transition: .4s;
    }
    & > .btn:hover{
      background-color: #D89040;
      color: #FFF;
    }
}
// マイページ(サイドバー)
a:hover{
  text-decoration: none;
}
.list-gruop{
  border: 1px solid #242424;
      & a{
      width: 100%;
    }
}
.list-group-item{
  background: #161616;
  border: none;
  height: 80px;
  border-radius: 0 !important;
    &:hover{
      background: #50505050;
    }
    & p{
      margin: 0;
      line-height: 56px;
      font-size: 18px;
    }
}
.visit-page{
  background: dimgray !important;
}

// フォーム関連
.form-control{
  width: 100%;
  background: #252525 !important;
  border: none;
  border-bottom: 1px solid gray !important;
  margin-top: 5px;
  height: 50px;
  width: 100%;
  color: #ffffff !important;
  resize: none;
    &:focus{
      box-shadow: none;
      border-color: rgba(0,0,0,0);
    }
}
.form{
  height: 200px !important;
}
.form-btn{
  background: dimgray;
    & > p{
      line-height: 40px;
      margin: 0;
    }
}
.btn-group{
  margin-bottom: 100px;
  width: 100%;
}

.comment-form{
  background: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #252525;
  margin-top: 30px;
  height: 50px;
  width: 100%;
  color: #ffffff;
    &:focus{
      outline: none;
    }
}
.comment-btn{
  background: #D89040;
  margin-left: 80%;
  margin-top: 13px;
  width: 20%;
}
.comment-box{
  width: 100%;
  padding: 0 5%;
}
.mini-comment-box{
  display: none;
}
 
.thumbnail{
   width:100%;
}

// プロフィールヘッダー(マイページ)
.top-profile{
  display: flex;
  margin: 20px;
  align-items: center;
    & > div{
      margin-left: 30px;
    }
}
.fl{
  display: flex;
  justify-content: flex-start;
}
.fl > p:last-child{
  margin-left: 10px;
}
.fl-btn{
  margin-left: auto !important;
}
.comment-text{
  display: flex;
  justify-content: space-between;
    & p{
      word-break: break-all;
      padding: 0 5px;
    }
}
.post-description{
  padding: 8px;
  word-break: break-all;
}

// 投稿一覧
.song-card{
  background: #000000;
  margin-bottom: 30px;
}
.card-body{
  width: 100%;
  height: 120px;
  position: relative;
}
.user-card{
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 10px;
  bottom: 10px;
  padding-right: 20px;
  white-space: nowrap;
}
.user-name{
  color: dimgray;
  width: 100%;
  text-align: left;
  margin-bottom: 0;
}

// icon
.fa-heart{
  color: rgb(224, 36, 94);
  font-size: 25px;
}
.fa-comment-dots{
  font-size: 25px;
  margin-left: 10px;
}
.fa-edit{
  font-size: 20px;
}
.icon-edit{
  text-align: right;
  margin-right: 10%;
}
.option-icon{
  display: flex;
   & p{
     margin-left: 5px;
   }
}

#overlay {
//モーダルウィンドウの背景を設定
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
//透過度をつける
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
}

#modalWindow {
// モーダルウィンドウの画面を設定(高さ・幅は調整ください)
  width: 500px;
  height: 250px;
  position: absolute;
//トップからの場所を指定（topをいじれば高さが調整できます）
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  z-index: 2;
//flexboxで子要素のボタンとメッセージボックスの要素を配置する
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .modal-message-box {
    width: 100%;
//下記heightの60pxはボタンの高さで、それを画面の大きさから引いています。
    height: calc(100% - 60px);
    text-align: center;
//flexboxで文字の配置を決める（縦方向、中央揃え）
    display: flex;
    flex-direction: column;
    justify-content: space-around;
      & p{
        color: #000000;
      }
  }

  #modal-close-btn {
    width: 40%;
    height: 60px;
    border: 1px solid gray;
  }

  #delete-comformation-btn {
    width: 40%;
    height: 60px;
  }
}
.choice-box{
  display: flex;
  justify-content: space-around;
  
}

.song-delete-btn {
//削除ボタンの非表示
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
.column-select-box{
  margin-bottom: 10px;
  display: flex;
    & h4{
      margin: 5px;
    }
}
.column-type{
  border-bottom: 3px solid dimgray;
}
.user-menu{
  display: none;
}
.post-form{
  text-align: center;
}
.contents{
  margin-top: 50px;
}
// レスポンシブ

@media screen and (max-width: 1000px){
    .overstring{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space:nowrap;
  }
    .card-body h5{
      @extend .overstring;
      font-size: 1.5rem;
    }
    .top-profile{
      flex-direction: column;
        & h3{
        @extend .overstring;
        font-size: 20px;
      }
    }
    .fl-btn{
      margin: 0 auto;
    }
    .top-profile{
      text-align: center;
      & > div{
        margin-left: 0;
      }
    }
  }
@media screen and (max-width: 768px){

  .background-image{
    background-image: url('home-responsive.jpg');
    background-position: 60%;
  }
  .user-btn{
    text-align: center;
    margin-top: 40px;
      & > .btn{
        margin: 20px auto;
        display: block;
      }
  }
  .side{
    display: none;
  }
  .user-menu{
    display: flex;
    width: 100%;
    margin: 5px auto 30px auto;
    justify-content: center;
      & p{
        margin: 8px;
      }
  }
  .current-menu{
    border-bottom: 5px solid dimgray;
  }
  .user-profile{
    width: 40px;
  }
  .card-body{
    & h5{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space:nowrap;
      font-size: 1.5rem;
    }
  }
  .other-song{
    width: 120px;
  }
  .comment-btn{
    width: initial;
  }
  .mini-comment-box{
    display: initial;
  }
  .wide-comment-box{
    display: none;
  }
}
// スマホサイズ
@media screen and (max-width: 400px){
  .post-profile{
    width: 50px;
  }
  .card-body{
    & h5{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space:nowrap;
      font-size: 1.5rem;
    }
  }
}
