// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.premium{
  background: #181818;
  height: 100vh;
  text-align: center;
}
.merit{
  background: gray;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
ul{
    & li{
      margin: 10px 0;
  }
}

