// Place all the styles related to the practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#file_pra_upload{
  display: none;
}
#edit_pra_upload{
  display: none;
}
.video{
  width: 100%;
}
