// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-card{
  text-align: right;
}
.user-profile{
  display: inline-block;
}
.user-name{
  display: inline-block;
  color: dimgray;
}
#file_upload{
  display: none;
}
#file_image_upload{
  display:none;
}
#edit_song_file_upload{
  display:none;
}
#edit_song_image_upload{
  display:none;
}
.edit-thumbnail{
  width: 80%;
  text-align: center;
}

.blur-back{
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 2rem 0 1rem;
  margin-bottom: 4rem;
  max-width: 600px;
  width: 95%;
  margin: 1rem auto 2rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  background-color: #252525;
    &:before{
      content: '';
      background: inherit;
      -webkit-filter: blur(10px) brightness(20%);
      -moz-filter: blur(10px) brightness(20%);
      -o-filter: blur(10px) brightness(20%);
      -ms-filter: blur(10px) brightness(20%);
      filter: blur(10px) brightness(20%);
      position: absolute;
      top: -15px;
      left: -15px;
      right: -15px;
      bottom: -15px;
      z-index: -1;
  }
}
.main{
  width:50%;
  margin: 0 auto;
}
.channel{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: 80px;
  margin-bottom: 10px;
  align-items: center;
}
.fb{
  width: 130px;
}
.name{
  display: inline-block;
}
.title{
  padding-bottom: 20px;
  text-align: left;
}
.option{
  justify-content: center;
  display: flex;
}
// audio.js

.audiojs{
  background: none;
  margin: 10px auto;
  width: 90%;
  height: 50px;
  box-shadow: none;
    & .scrubber{
      height: 5px;
      margin: 0;
      top: 25%;
      width: 90%;
      float: none;
    }
    & .loaded, & .progress{
    height: 5px;
  }
    & .play-pause{
      border: none;
      margin-right: 5px;
    }
    & .time{
      width: 100%;
      text-align: right;
      float: none;
      border: none;
      margin-top: 10px;
    }
}
.rank-thumbnail{
  width: 100%;
  height: 400px;
}
.modal-box{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.new-song-btn{
  display: flex;
  justify-content: space-around;
  width: 100%;
    & p{
      width: 40%;
    }
  
}
.dropzone{
  border: 1px dotted dimgray !important;
  text-align: center;
}

// editページ
.change{
  margin-top: 30px;
  text-align: center;
}
.responsive-voice{
  display: none;
}
@media screen and (max-width: 500px){
  #song-modal{
    width: 250px !important;
  }
  .responsive-voice{
    display: initial
  }
  .back, .new-back{
    display: none !important;
  }
  .rank-thumbnail{
    height: 250px;
  }
}
