// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.song-card{
  background: #000000;
}
.user-card{
  text-align: right;
}
.user-profile{
  display: inline-block;
}
.user-name{
  display: inline-block;
  color: dimgray;
}
