// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.song-card{
  background: #000000;
}
.user-card{
  text-align: right;
}
.user-profile{
  display: inline-block;
}
.user-name{
  display: inline-block;
  color: dimgray;
}
#file_upload{
  display:none
}
#file_image_upload{
  display:none
}

.blur-back{
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 2.5rem 0 1rem;
  margin-bottom: 4rem;
  max-width: 600px;
  width: 95%;
  margin: 1rem auto 4rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  background-color: #252525;
  height: 400px;
    &:before{
      content: '';
      background: inherit;
      -webkit-filter: blur(10px) brightness(20%);
      -moz-filter: blur(10px) brightness(20%);
      -o-filter: blur(10px) brightness(20%);
      -ms-filter: blur(10px) brightness(20%);
      filter: blur(10px) brightness(20%);
      position: absolute;
      top: -15px;
      left: -15px;
      right: -15px;
      bottom: -15px;
      z-index: -1;
  }
}
.main{
  width:50%;
  margin: 0 auto;
}
.song-thumb{
  width: 100%;
  height: 205px;
  border-radius: 50%;
}
.song-title{
  text-align: center;
  margin-bottom: 25px;
}
.channel{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: 80px;
  margin-bottom: 10px;
  align-items: center;
}
.fb{
  width: 130px;
}
.name{
  display: inline-block;
}
.comment-text{
  display: flex;
  justify-content: space-between;
}
.title{
  padding-bottom: 20px;
  text-align: center;
}
// audio.js

.audiojs{
  background: none;
  margin: 10px auto;
  width: 90%;
  height: 50px;
  box-shadow: none;
    & .scrubber{
      height: 5px;
      margin: 0;
      top: 25%;
      width: 90%;
      float: none;
    }
    & .loaded, & .progress{
    height: 5px;
  }
    & .play-pause{
      border: none;
      margin-right: 5px;
    }
    & .time{
      width: 100%;
      text-align: right;
      float: none;
      border: none;
      margin-top: 10px;
    }
}

