// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-edit-btn{ 
  margin: 0 auto;
  height: 30px;
    & > p{
      line-height: 16px;
      margin: 0;
    }
}
.profile{
  text-align: center;
    & > p{
      margin: 20px auto;
    }
}
.user-edit-box{
  width: 70%;
  margin: 0 auto;
  text-align: center;
    & p{
      text-align: left;
    }
}
.description{
  word-break: break-all;
  width: 40%;
  margin: 0 auto;
    & p{
      text-align: left;
    }
}
.back-btn{
  display: none;
}
.logout-btn{
  display: none;
}

@media screen and (max-width: 768px){
  .description{
    width: 80%;
  }
  .back-btn{
    display: inline-block;
  }
  .logout-btn{
  display: inline-block;
  }
}
