<% if model.errors.any? %>
  <div class="error-message-box">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><p class="error-message"><%= message %></p></li>
      <% end %>
    </ul>
  </div>
<% end %>
